:root {
    --primary-color: #7584f2;
    --secondary-color: #ffce00;
    --bg-color: #e2e8f0;
    --card-color: #ffffff;
    --grey-color: #757575;
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

body, 
html {
    font-family: system-ui, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 62.5%;
    background-color: var(--bg-color);
    height: 100%;
    margin: 0;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

header {
    background-color: var(--card-color);
    grid-column: 2 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto-fit;
    grid-template-rows: 1fr 2fr;
    padding: 0 3rem;
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.178);
}

header > div:first-child {
    display: flex;
}

header > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: flex;
    flex: 2;
    gap: 1rem;
    justify-content: left;
    align-items: center;
}

.search-container input {
    font-size: 2rem;
    width: 80%;
    background-color: var(--bg-color);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.search-container input:focus {
    outline: 2px solid var(--primary-color);
}

.user-menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: right;
    gap: 2rem;
}

.user-photo {
    padding: 0.5rem;
}

.user-menu p {
    font-size: 2rem;
    font-weight: bold;
}

.personalized-greeting {
    font-size: 2rem;
    display: flex;
    gap: 1rem;
}

.personalized-greeting > div > p,
.personalized-greeting > div > h2 {
    margin: 0;
}

.action-menu button {
    font-size: 2rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 3rem;
    padding: 1rem 3rem;
    margin: 0 1rem;
}

.sidebar {
    background-color: var(--primary-color);
    grid-column: 1;
    grid-row: 1 / -1;
}

.main {
    grid-column: 2 / -1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.content {
    font-size: 2rem;
    padding: 0 0 3rem 3rem;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.project-card {
    background-color: var(--card-color);
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.178);
    padding: 3rem;
    margin: 0 2rem 2rem 0;
    border-radius: 1.5rem;
    border-left: 1rem solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card > div:last-child {
    display: flex;
    justify-content: right;
    gap: 1rem;
}

.project-card > div > h4,
.project-card > div > p {
    margin: 0 0 0.5rem 0;
}

.project-card > div > p {
    color: var(--grey-color)
}

.project-card > div > button {
    border: none;
    background-color: transparent;
}

aside {
    display: flex;
    flex-direction: column;
}

.announcements {
    font-size: 2rem;
}

.announcements > div {
    background-color: var(--card-color);
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.178);
    margin-right: 3rem;
    border-radius: 1.5rem;
}

.announcements div {
    border-bottom: 1px solid var(--grey-color);
    padding: 1.5rem;
}

.announcements div:last-child {
    border: none;
}

.announcements h5,
.announcements p {
    margin: 0 0 0.5rem 0;
}

.announcements p {
    font-size: 1.4rem;
    color: var(--grey-color);
}

.trending {
    font-size: 2rem;
}

.trending > div {
    background-color: var(--card-color);
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.178);
    margin-right: 3rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.user-card {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    justify-content: left;
    align-items: center;
}

.user-card div p {
    margin: 0;
}

.user-card div p:first-child{
    font-weight: 500;
}

.user-card div p:last-child{
    color: var(--grey-color);
}

