:root {
    --primary-color: #7584f2;
    --secondary-color: #ffce00;
    --bg-color: #e2e8f0;
    --card-color: #ffffff;
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

body, 
html {
    font-family: system-ui, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 62.5%;
    background-color: var(--bg-color);
    min-height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

header {
    background-color: var(--card-color);
    grid-column: 2 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto-fit;
    grid-template-rows: 1fr 2fr;
    padding: 0 3rem;
}

header > div:first-child {
    display: flex;
}

header > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: flex;
    flex: 2;
    gap: 1rem;
    justify-content: left;
    align-items: center;
}

.search-container input {
    font-size: 2rem;
    width: 80%;
    background-color: var(--bg-color);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.search-container input:focus {
    outline: 2px solid var(--primary-color);
}

.user-menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: right;
    gap: 2rem;
}

.user-photo {
    padding: 0.5rem;
}

.user-menu p {
    font-size: 2rem;
    font-weight: bold;
}

.personalized-greeting {
    font-size: 2rem;
    display: flex;
    gap: 1rem;
}

.personalized-greeting > div > p,
.personalized-greeting > div > h2 {
    margin: 0;
}

.action-menu button {
    font-size: 2rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 3rem;
    padding: 1rem 3rem;
    margin: 0 1rem;
}

.sidebar {
    background-color: var(--primary-color);
    grid-column: 1;
    grid-row: 1 / -1;
}

.main {
    grid-column: 2 / -1;
    grid-row: 2;
}
